name: test-suite
on: [push, pull_request]
jobs:
  lint-python:
    name: lint-python
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        architecture: 'x64'
    - name: Install flake8
      run: |
        pip install flake8
    - name: Lint python with flake8
      run: |
        flake8 . --max-complexity=10 --statistics
  test-template:
    name: test-templates-scripts
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        architecture: 'x64'
    - name: Install makita
      run: |
        pip install .
    - name: set up environment
      run: |
        mkdir tmp
        cd tmp
        mkdir basic/data
        mkdir arfi/data
        mkdir multiple_models/data
        curl https://raw.githubusercontent.com/jteijema/asreview-makita/workflow-testing/.github/workflows/test_data/labels.csv -o labels.csv
        cp labels.csv basic/data/labels.csv
        cp labels.csv arfi/data/labels.csv
        cp labels.csv multiple_models/data/labels.csv
    - name: Test makita templates
      run: |
        cd basic
        asreview makita template basic | tee output.txt
        grep -q "ERROR" output.txt && exit 1 || true
        cd ../arfi
        asreview makita template arfi | tee output.txt
        grep -q "ERROR" output.txt && exit 1 || true
        cd ../multiple_models
        asreview makita template multiple_models | tee output.txt
        grep -q "ERROR" output.txt && exit 1 || true
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      with:
        scandir: './tmp'
      env:
        SHELLCHECK_OPTS: -e SC2148
    - name: Test makita scripts
      run: |  
        asreview makita add-script get_plot.py
        asreview makita add-script merge_descriptives.py
        asreview makita add-script merge_metrics.py
        asreview makita add-script merge_tds.py
        asreview makita add-script get_settings_from_state.py
